* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.header {
    width: calc(100dvw - 1.4rem);
    display: flex;
    justify-content: flex-start;
    padding: .7rem 1rem;
    gap: 1rem;
    height: fit-content;

    & .btn {
     
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        font-size: 1.2rem;
        border: 1px solid rgba(245, 245, 245, 0.212);
        padding: .2rem .5rem;
        border-radius: 3px;
        font-weight: 600;
        text-decoration: none;
       color: var(--color-primary-1);
        overflow: hidden;
        transition: all .3s ease;
        
        &.landing {
            background: rgba(196, 194, 194, 0.479);
        }
        
        &:hover {
            transform: scale(1.1);
            &::before {
                transform: skew(20deg) translateY(-5px) translateX(-20px);
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        & .btn {
            font-size: 1.5rem;
        }
    }
}